<div class="content-page">
  <div class="hero-image-container">
    <div class="hero-overlay"></div>
    <img class="hero-image" ngSrc="/assets/images/spencer-demera-ntkg_rbRhpg-unsplash.jpg" [priority]="true"
         alt="soil" height="4000" width="6000">
    <h1 class="hero-title">{{ title }}</h1>
  </div>

  <div class="content-container">
    <div class="search-section">
      <form class="content-search-form">
        <div class="search-wrapper">
          <i class="search-icon fas fa-search"></i>
          <input
            [(ngModel)]="polyId"
            [ngModelOptions]="{standalone: true}"
            placeholder="Search by polyId"
            class="search-input"
          >
        </div>
        <button
          class="search-button"
          type="button"
          (click)="fetchSoilDataByPolyId(polyId)"
        >
          <span>Search</span>
        </button>
      </form>
    </div>


    <div class="data-section">
      <div *ngIf="selectedPolyId" class="selected-content">
        <div class="content-card">
          <div class="content-card-header">
            <h3>Soil Data for polyId: {{ selectedPolyId.polyId }}</h3>
            <p class="content-date">{{ selectedPolyId.date }}</p>
          </div>

          <div class="content-details">
            <p><strong>Temperature on the 10 centimeters depth:</strong> {{ selectedPolyId.t10 }}°C</p>
            <p><strong>Temperature on the surface:</strong> {{ selectedPolyId.t0 }}°C</p>
            <p><strong>Moisture:</strong> {{ selectedPolyId.moisture }} m3/m3</p>
          </div>
        </div>
      </div>

      <button
        class="show-all-data-btn"
        (click)="toggleAllSoilData()">
        {{ showAllData ? 'Hide' : 'Show' }} All Soil Data
      </button>
    </div>
  </div>

  <section class="results" *ngIf="showAllData">
    <div *ngIf="soilDataList.length" class="results-container">
      <h3 class="section-title">Soil Data History</h3>
      <div class="table-responsive">
        <table>
          <thead>
          <tr>
            <th>PolyId</th>
            <th>Date</th>
            <th>T10</th>
            <th>T0</th>
            <th>Moisture</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let soil of soilDataList" (click)="selectSoilData(soil)" [ngClass]="{'selected-row': isSelectedSoil(soil)}">
            <td>{{ soil.polyId }}</td>
            <td>{{ soil.date }}</td>
            <td>{{ soil.t10 }}</td>
            <td>{{ soil.t0 }}</td>
            <td>{{ soil.moisture }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer-content">
      <p>Soil data provided by Soil API</p>
      <p>© {{ currentYear }} Soil App</p>
    </div>
  </footer>
</div>
